<div class="hall-container">
    <!-- Фоновое изображение зала -->
    <div class="hall-background"></div>

    <!-- Логотип зала в левом верхнем углу -->
    <img class="hall-logo" src="/images/literary-hall/hall-logo.png" alt="Зал литературного краеведения">
    
    <!-- Контейнер с кнопками персоналий -->
    <div class="persons-container">
        {{#each persons}}
        <button class="person-button" data-person-id="{{_id}}" data-person-name="{{fullName}}">
            <div class="person-button-bg" style="background-image: url('{{buttonImagePath}}');"></div>
            <div class="person-info">
                <div class="person-name">
                    <span class="person-surname">{{lastName}}</span>
                    <span class="person-name-rest">{{firstName}} {{patronymic}}</span>
                </div>
            </div>
        </button>
        {{/each}}
    </div>

     <!-- Пагинация -->
    <div class="pagination-container">
        <button class="pagination-btn prev-btn" id="prevPage" {{#unless hasPrev}}disabled{{/unless}}>
            <div class="pagination-bg"></div>
        </button>
        
        <span class="pagination-info" id="pageInfo">Страница {{currentPage}} из {{totalPages}}</span>
        
        <button class="pagination-btn next-btn" id="nextPage" {{#unless hasNext}}disabled{{/unless}}>
            <div class="pagination-bg"></div>
        </button>
    </div>
</div>